= form_for group do |f|
  - if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label :グループ名, class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :name, class: 'chat__group_name chat-group-form__input', placeholder: 'グループ名を入力してください'
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label :チャットメンバーを追加, class:'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :name, name: 'search', class: 'user__input' , placeholder: '追加したいユーザー名を入力してください'
      .chat-group-users.clearfix.js-chat-member
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :チャットメンバー ,class: 'chat-group-form__label'
    .chat-group-form__field--right
      .chat-group-users.clearfix
        = current_user.name
      .chat-group-users.clearfix.js-add-user
        -# = f.collection_check_boxes :user_ids, :id, :name
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit class: 'chat-group-form__action-btn'
-# <div class='chat-group-form__field--left'>
-#   <label class="chat-group-form__label" for="chat_group_チャットメンバーを追加">チャットメンバーを追加</label>
-# </div>
-# <div class='chat-group-form__field--right'>
-#   <div class='chat-group-form__search clearfix'>
-#     <input class='chat-group-form__input' id='user-search-field' placeholder='追加したいユーザー名を入力してください' type='text'>
-#   </div>
-#   <div id='user-search-result'></div>
-# </div>
